.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
}

.button--green {
  background-color: @button-color;
  color: @white;
}

.button--green:hover {
  background-color: @button-color--hover;
  color: @white;
}

.button--green:active {
  background-color: @button-color--hover;
  color: @button_text-color--active;
}