.category {
  display: flex;
  flex-direction: column;
  position: relative;
}

.category__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  padding-left: 20px;
  background-color: @gray-light;
}

