.category {
  display: flex;
  flex-direction: column;
  position: relative;
}

.category__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  padding-left: 20px;
  background-color: @gray-light;
}

.category__title{
  text-transform: uppercase;
  font-weight: 400;
}

.category__list {
  padding: 0 20px;
}

.category__item {
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.category__item--diet {
  padding-right: 40px;
}

.category__item--diet::before {
  background: url(../img/icon-cat-slim.svg) no-repeat;
}

.category__item--gain {
  padding-right: 40px;
}
