.goods-description {
  margin: 0;
}

.goods-line {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.goods__amount {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: @second-font;
  color: @black;
}

.goods__price {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: @second-font;
  text-align: right;
  margin-left: auto;
  color: @black;
  text-transform: uppercase;
}
