.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-style: @default-font;
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: @default-font;
}

.site-list__item {
  display: inline-block;
  color: black;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: 1px solid @gray;
  width: 320px;
  text-align: center;
}

.site-list__item--active a {
  padding-bottom: 5px;
  border-bottom: 2px solid #68b738;
}

.site-list__item:nth-child(1) {
  border-top: 1px solid @gray;
}

.site-list__item a {
  color: @black;
}

.site-list__item a:hover {
  color: #707070;
}

.site-list__item a:active {
  color: #dddddd;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
