.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;

  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
}

.social-list__item {
  width: 55px;

  text-align: center;
}

.social-icon {
  fill: #6c6c6c;
}

.social__icon--vk {
  display: block;
  width: 22px;
  height: 12px;
  // background: url("img/icon-vk.svg");
  background-size: 22px 12px;
  margin-top: -8px;
}

.social__link--insta {
  display: block;
  width: 16px;
  height: 16px;
  // background: url("img/icon-insta.svg");
  background-size: 16px 16px;
}

.social__link--fb {
  display: block;
  width: 10px;
  height: 19px;
  // background: url("img/icon-fb.svg");
  background-size: 10px 19px;
  padding-top: 2px;
}
