@button-color: #68b738;
@button-color--hover: #5eaa2f;
@button_text-color--active: #8fc46e;
@gray-light: #f2f2f2;
@white: #ffffff;
@black: #111111;
@gray: #d9d9d9;
@dark-gray: #cdcdcd;
@default-font: "Oswald", "Arial", sans-serif;
@second-font: "Arial", sans-serif;
@input-color: #e7e7e7;
@placeholder-color: rgba(68, 68, 68, 1);
@input-color--hover: rgba(205, 205, 205, 1);
@invalid-color: #ff8282;
@focus-color: #444444;
@focus-color--icon: #68b738;
@outline-color: #4d90fe;